<ion-view view-title="{{converter}}">
  <ion-content>

    <ion-list>
      <label class="item item-input" ng-repeat="d in displays">
        <span class="input-label">{{d.name}}: </span>
        <input type="number" pattern="[0-9.]*" ng-model="d.value" ng-change="onValueChange(d)">
        <span ng-bind-html="d.symbol" class='symbol'/>
      </label>
    </ion-list>

  </ion-content>
</ion-view>
