<ion-view view-title="Converters">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="converter in converters" href="#/app/converters/{{converter}}">
        {{converter}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
